node-red/.flows.json.backup
[{"id":"e29cc517.fc3098","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"999ef4a5.48e6e8","type":"server","name":"Home Assistant","addon":true},{"id":"b454cc2c.3067b","type":"server","name":"Home Assistant","legacy":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"309b5de9.ba0a12","type":"api-call-service","z":"e29cc517.fc3098","name":"Send Notification","server":"b454cc2c.3067b","version":"1","debugenabled":false,"service_domain":"notify","service":"mobile_app_pete_s20","entityId":"","data":"{\"title\":\"{{payload.title}} on sale!\",\"message\":\"{{payload.title}} is now {{payload.percent_off}}% off.  Pick it up now for {{payload.sale_price}}.\",\"data\":{\"image\":\"{{payload.box_art_url}}\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":180,"wires":[[]]},{"id":"1bd9c4d8.1c5843","type":"split","z":"e29cc517.fc3098","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":810,"y":180,"wires":[["309b5de9.ba0a12"]]},{"id":"794c2c28.cbf49c","type":"function","z":"e29cc517.fc3098","name":"Set Payload to matches","func":"msg.payload = msg.data.event.new_state.attributes.matches;\nvar date = new Date().toLocaleDateString('en-US', {\n            month: 'short',\n            day: 'numeric',\n            hour12: false,\n            hour: 'numeric',\n            minute: 'numeric'\n        })\n// Get array of titles from each match.\nvar gameTitles = msg.payload.map(m => m[\"title\"]);\n// Convert array to a string we can display.\nvar games = gameTitles.join(\", \")\nvar statusText = `${games} at: ${date}`\nnode.status({fill:\"green\",shape:\"dot\",text: statusText});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":180,"wires":[["1bd9c4d8.1c5843"]]},{"id":"beaec501.8dd3a8","type":"trigger-state","z":"e29cc517.fc3098","name":"Nintendo Wish List State Change","server":"b454cc2c.3067b","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.nintendo_wishlist_final_fantasy_viii_remastered","entityidfiltertype":"substring","debugenabled":false,"constraints":[],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"habool","x":320,"y":180,"wires":[["794c2c28.cbf49c"],[]]},{"id":"9576a0d4.4f37b","type":"inject","z":"e29cc517.fc3098","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"entity_id\":\"binary_sensor.nintendo_wishlist_steam\",\"old_state\":{\"entity_id\":\"binary_sensor.nintendo_wishlist_steam\",\"state\":false,\"attributes\":{\"matches\":[],\"unit_of_measurement\":\"on sale\",\"friendly_name\":\"Steam\",\"icon\":\"mdi:nintendo-switch\"},\"last_changed\":\"2019-08-18T17:54:11.703879+00:00\",\"last_updated\":\"2019-08-18T17:54:11.703879+00:00\",\"context\":{\"id\":\"b4cd91ecaa6748db95b29714607018c0\",\"parent_id\":null,\"user_id\":null}},\"new_state\":{\"entity_id\":\"binary_sensor.nintendo_wishlist_steam\",\"state\":true,\"attributes\":{\"matches\":[{\"box_art_url\":\"https://www.nintendo.com/content/dam/noa/en_US/games/switch/s/steamworld-quest-hand-of-gilgamech-switch/Switch_SteamWorldQuest_box_eShop.png\",\"normal_price\":\"$24.99\",\"percent_off\":20,\"sale_price\":\"$19.99\",\"title\":\"SteamWorld Quest: Hand of Gilgamech\"},{\"box_art_url\":\"https://www.nintendo.com/content/dam/noa/en_US/games/switch/s/steamworld-quest-hand-of-gilgamech-switch/Switch_SteamWorldQuest_box_eShop.png\",\"normal_price\":\"$49.99\",\"percent_off\":50,\"sale_price\":\"$19.99\",\"title\":\"SteamWorld Game\"}],\"unit_of_measurement\":\"on sale\",\"friendly_name\":\"Steam\",\"icon\":\"mdi:nintendo-switch\"},\"last_changed\":\"2019-08-18T17:54:11.703879+00:00\",\"last_updated\":\"2019-08-18T17:54:11.703879+00:00\",\"context\":{\"id\":\"b4cd91ecaa6748db95b29714607018c0\",\"parent_id\":null,\"user_id\":null}}}","payloadType":"json","x":110,"y":180,"wires":[["beaec501.8dd3a8"]]},{"id":"6c7bb007.fa8f","type":"comment","z":"e29cc517.fc3098","name":"Nintendo E-Shop Sale Alerts","info":"","x":160,"y":120,"wires":[]}]